<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt=""></a>
		<div class="hero-copy">
			<h1>Good Boy Scouts</h1>
			<p>All these guys have done some real good stuff!</p>
		</div>
    <%= button_to 'Add another guy', new_good_guy_path, method: :get %>
	</div>
</div>
